<!DOCTYPE html>
<html lang="fr">
  <head>
  	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/script.js"></script>
    <meta charset="utf-8">
    <title>Notation</title>
  </head>

    <body class="p-3 mb-2 bg-light text-dark" ng-app="groupes" ng-controller="ListeController as listeCtrl" style="background-color:#ecf0f1;">
      <div class="container">
        <h1 class="row">Choisissez un groupe</h1>

        <form method="post" action="index.php" class="form-group">
          <input type="submit" value="Déconnexion" name="deco" class="btn btn-primary btn-sm"/>
        </form>

        <expand class="list-group" ng-repeat="groupe in groupes" style="background-color:white; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);"></expand>

        <h5 class="text-center alert alert-success" ng-show="allVoted" style="margin-top: 10%;"> Vous avez voté pour tous les groupes ! Merci :) </h5>
      </div>
    </body>

</html>
