
<form method="post" action="enregistrement.php" class="form-group groupsVote">

  <a href="" class="list-group-item nomGroupes" ng-click="toggle(groupe)" style="">{{groupe}}</a>

  <div ng-show="showMe" class="col-lg-12 pt-2 pb-2">

    <div class="row pl-3">
  	    <p class="pt-3 col"> Qualité du discours </p>
        <div class="btn-group ml-5 col-lg-7">
          <button class="btn btn-primary" type="button" ng-class="buttonASpeach" ng-click="choseSpeach('A')">A</button>
          <button class="btn btn-primary" type="button" ng-class="buttonBSpeach" ng-click="choseSpeach('B')">B</button>
          <button class="btn btn-primary" type="button" ng-class="buttonCSpeach" ng-click="choseSpeach('C')">C</button>
          <button class="btn btn-primary" type="button" ng-class="buttonDSpeach" ng-click="choseSpeach('D')">D</button>
          <button class="btn btn-primary" type="button" ng-class="buttonESpeach" ng-click="choseSpeach('E')">E</button>
        </div>
        <input type="hidden" name="slideSpeach" value="{{slideSpeach}}">
    </div>

    <div class="row pl-3">
        <p class="pt-3 col">Qualité des slides présentées</p>
        <div class="btn-group ml-5 col-lg-7">
          <button class="btn btn-primary" type="button" ng-class="buttonASlide" ng-click="choseSlide('A')">A</button>
          <button class="btn btn-primary" type="button" ng-class="buttonBSlide" ng-click="choseSlide('B')">B</button>
          <button class="btn btn-primary" type="button" ng-class="buttonCSlide" ng-click="choseSlide('C')">C</button>
          <button class="btn btn-primary" type="button" ng-class="buttonDSlide" ng-click="choseSlide('D')">D</button>
          <button class="btn btn-primary" type="button" ng-class="buttonESlide" ng-click="choseSlide('E')">E</button>
        </div>
        <input type="hidden" name="slideChoice" value="{{slideChoice}}">
    </div>

    <div class="row pl-3">
        <p class="pt-3 col">Qualité de la démonstration</p>
        <div class="btn-group ml-5 col-lg-7">
          <button class="btn btn-primary" type="button" ng-class="buttonADemo" ng-click="choseDemo('A')">A</button>
          <button class="btn btn-primary" type="button" ng-class="buttonBDemo" ng-click="choseDemo('B')">B</button>
          <button class="btn btn-primary" type="button" ng-class="buttonCDemo" ng-click="choseDemo('C')">C</button>
          <button class="btn btn-primary" type="button" ng-class="buttonDDemo" ng-click="choseDemo('D')">D</button>
          <button class="btn btn-primary" type="button" ng-class="buttonEDemo" ng-click="choseDemo('E')">E</button>
        </div>
        <input type="hidden" name="demoChoice" value="{{demoChoice}}">
    </div>

    <div class="row pl-3">
        <p class="pt-3 col">Qualité des réponses aux questions posées</p>
        <div class="btn-group ml-5 col-lg-7">
          <button class="btn btn-primary" type="button" ng-class="buttonAQuestions" ng-click="choseQuestions('A')">A</button>
          <button class="btn btn-primary" type="button" ng-class="buttonBQuestions" ng-click="choseQuestions('B')">B</button>
          <button class="btn btn-primary" type="button" ng-class="buttonCQuestions" ng-click="choseQuestions('C')">C</button>
          <button class="btn btn-primary" type="button" ng-class="buttonDQuestions" ng-click="choseQuestions('D')">D</button>
          <button class="btn btn-primary" type="button" ng-class="buttonEQuestions" ng-click="choseQuestions('E')">E</button>
        </div>
        <input type="hidden" name="questionsChoice" value="{{questionsChoice}}">
    </div>

    <div class="row pl-3">
        <input type="hidden" name="groupChoice" value="{{groupChoice}}">
        <input type="submit" value="Valider" name="submitNote" class="btn btn-primary"/>
    </div>

  </div>
</form>
